.row{
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes Shake {
    12% {
        transform: rotateZ(2deg);
    }
    25% {
        transform: rotateZ(0deg);
    }
    37% {
        transform: rotateZ(-2deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    62% {
        transform: rotateZ(2deg);
    }
    75% {
        transform: rotateZ(0deg);
    }
    87% {
        transform: rotateZ(-2deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
